* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;/*cria um espaço */
    align-items: center;
}

.caixa-texto {
    width: 600px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end; /*flex-end: joga tudo para final da tela*/
    margin-top: 250px;
}

.menu {
    display: flex;
    justify-content: center;
}

button {
    background-color: #017143; /* cord de fundo*/
    color: #fff; /* cor do texto */
    border: none; /* borda */
    border-radius: 20px; /* cor do texto */
    padding: 10px;
}

h2 {
    font-size: 60px;
    font-weight: 500px;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900px;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
}

.starbucks {
    width: 340px; /*largura da caixa*/
    z-index: 2; /* quem vai ficar na frente do objeto*/
    transition: 1s;
}

.copo-pequeno {
    width: 42px;
    cursor: pointer;
    transition: 1s;
}

.copo-pequeno:hover{
    transform: translateY(-25px);
}

.circulo {
background: #017143;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
clip-path: circle(600px at right 800px);

}









